{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit"> Buy </button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'products' %}">Cancel</a>
            </small>
        </div>
    </div>

    <div class="content-section">
    {% if addresses %}
				{% for address in addresses %}
				<article class="media content-section">
					<div class="media-body">
						<div class="article-metadata">
							<p class="mr-2"><strong>{{ address.addressName }}</strong></p>
						</div>
						<p>Tag: {{address.tag}}</p>
						<p>Location: ({{ address.address_x }},{{ address.address_y }})</p>
					</div>
				</article>
				{% endfor %}
                {% endif %}
    </div>
{% endblock content%}